<%- include("../partials/header.ejs") %>
<h1 id="mensagem-de-erro">Erro ao realizar login. Seu e-mail ou senha estão incorretos. Caso contrário, cadastre-se, por favor.</h1>
<a href="/admin/gamestorrent/gerenciadordegames">
    <div id="container-botão">
    <button id="botão-volta">Volta para o login</button></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<%- include("../partials/footer.ejs") %>