<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Torrent</title>
    <link rel="shortcut icon" href="/img/cranio.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <header id="cabeçalho">
      <h1 id="nome-do-site">
        <a href="/" id="link-1">Games</a>
        <a href="/" id="link-2"><span id="complemento-do-nome-do-site">.torrent</span></a>
      </h1>
      <div id="link-home-page">
      <a href="/admin/gamestorrent/gerenciadordegames" id="link-para-adm">Administrador</a>
      <a href="/cadastro" id="link-para-adm">Cadastro</a>
    </div>
    </header>
  </body>
</html>
