<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Torrent</title>
    <link rel="shortcut icon" href="/img/cranio.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <header id="cabeçalho">
      <h1 id="nome-do-site">
        Games<span id="complemento-do-nome-do-site">.torrent</span>
      </h1>
      <div id="menu-hambúrguer">
        <span class="piper-menu"></span>
        <span class="piper-menu"></span>
        <span class="piper-menu"></span>
      </div>
    </header>
  </body>
</html>
